/* Write your CSS here */
.content-background {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-sm-img {
  height: 300px;
}

.about-lg-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-sm-img {
    display: none;
  }

  .about-lg-img {
    display: block;
    height: 500px;
  }
}
